<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          placeholder="Enter a Name"
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="learner.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          placeholder="Enter a Email"
          type="email"
          class="form-control"
          id="email"
          required
          [(ngModel)]="learner.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="courseId">Course ID</label>
        <input
          placeholder="Enter a Course ID"
          class="form-control"
          id="courseId"
          required
          [(ngModel)]="learner.courseId"
          name="courseId"
        />
      </div>
      <br>
      <button (click)="createLearner()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="submitted">
      <h3>You successfully created a learner!</h3>
      <button class="btn btn-success" (click)="newLearner()">New..</button>
    </div>
  </div>
</div>
